@font-face {
    font-family: 'LEMONMILK MEDIUM';
    src: url('static/LEMONMILK-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'LEMONMILK BOLD';
    src: url('static/LEMONMILK-Bold.otf') format('opentype');
}

body {
    font-family: 'LEMONMILK MEDIUM', sans-serif;
    margin: 0 0 1rem 0;
    padding: 0;
}

#blurb {
    z-index: 999;
    width: 100%;
    position: sticky;
    text-align: center;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

#game {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

#board {
    font-family: 'LEMONMILK BOLD', sans-serif;
    user-select: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    gap: 0.4rem;
    padding: 0.5rem 0;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border-radius: 0;
}

#row-1 {
    background-color: #f4e172;
}

#row-2 {
    background-color: #a5c35f;
}

#row-3 {
    background-color: #b5c2ee;
}

#row-4 {
    background-color: #b382c4;
}

.cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.input {
    box-sizing: border-box;
    font-size: 0.8rem;
    cursor: default;
    width: 100%;
    text-align: center;
    font-family: 'LEMONMILK BOLD', sans-serif;
    background: none;
    border: none;
}

.input:focus {
    outline: none;
}

.description-input {
    box-sizing: border-box;
    font-size: 1rem;
    cursor: default;
    width: 100%;
    text-align: center;
    font-family: 'LEMONMILK BOLD', sans-serif;
    background: none;
    border: none;
}

.description-input:focus {
    outline: none;
}

.name-input {
    box-sizing: border-box;
    font-size: 1.5rem;
    cursor: default;
    width: 100%;
    text-align: center;
    font-family: 'LEMONMILK MEDIUM', sans-serif;
    background: none;
    border: none;
    outline: none;
}

.name-input:focus {
    outline: none;
}

.cell {
    font-size: 0.7rem;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefe6;
    border-radius: 0.5rem;
    width: calc(25% - 1rem);
    height: calc(25vw - 1rem);
    word-break: break-all;
}

@media screen and (min-width: 768px) {
    .input {
        font-size: 1rem;
    }

    .description-input {
        font-size: 1.2rem;
    }

    .name-input {
        font-size: 2rem;
    }

    .container {
        width: auto;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .cell {
        font-size: 1rem;
        width: 10rem;
        height: 5rem;
    }
}

#buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.button {
    font-family: 'LEMONMILK MEDIUM', sans-serif;
    color: black;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    display: flex;
}

#hint {
    text-align: center;
    visibility: hidden;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#hint.hide {
    animation: fade-out 0.6s;
}